.navbar {
  background-color: #3c3a4d;
  border: 0;
  font-size: 20px;
}
.navbar-brand {
  padding: 20px 15px 10px 65px;
  letter-spacing: 2px;
  font-size: 24px;
  color: #ffffff !important;
  font-weight: bold;
}
.navbar-right {
  padding-top: 13px;
  padding-right: 50px;
  text-align: right;
}
.nav-link {
  padding: 30px 20px 10px 20px;
  text-align: right;
}
.nav-link a:hover,
.nav-link a:focus {
  background-color: #86779b !important;
  color: #86779b !important;
  text-decoration: none !important;
}
ul {
  list-style-type: none;
}
.navbar-header {
  height: 58px;
  white-space: nowrap;
  overflow: scroll;
}
.side-nav {
    position: fixed;
    top: 56px;
    left: 200px;
    width: 200px;
    margin-left: -200px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #3c3a4d;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
}
.side-nav>li>a {
    width: 200px;
}
.side-nav li a:hover,
.side-nav li a:focus {
    outline: none;
    background-color: #86779b !important;
    color: #ffffff !important;
}
.side-nav>ul {
  padding: 0;
  list-style-type: none;
}
.side-nav>ul>li>a {
  display: block;
  padding: 10px 15px 10px 25px;
  text-decoration: none;
  color: #999;
  font-size: 20px;
}
.side-nav>li>ul>li>a:hover {
  color: #86779b;
}
input.student-search {
  color: #999 !important;
  background-color: #fff !important;
  border: 1px solid #fff !important;
  border-radius: 4px !important;
  width: 175px;
}
.search-btn {
  background-color: rgba(134, 119, 156, 0.99) !important;
  margin-top: -3px;
  color: #fff !important;
}
body {
    margin-top: 70px;
    color: #999 !important;
    padding-left: 215px;
}
.studentInfo {
  padding: 10px 15px 10px 25px;
  color: #ffffff !important;
  font-weight: bold;
  letter-spacing: 1px;
}
a {
  color: #999;
}
a:hover {
  color: #999;
}
.login-btn {
  background-color: rgba(134, 119, 156, 0.99) !important;
  margin-top: -3px;
  height: 25px;
  color: #fff !important;
  padding: 0px;
}
#iep {
  overflow: auto; 
  -webkit-overflow-scrolling: touch; 
  height: 500px; 
}
object { 
  width: 97%; 
  height: 100%; 
}
.table {
  width: 95%;
}
.table > tbody > tr > td {
  vertical-align: middle;
  text-align: center;
}
.table > thead > tr > th {
  text-align: center;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
  padding-right: 60px;
  padding-top: 10px;
}
.alignright {
  float: right;
}
.formWidth {
  padding-top: 10px;
  width: 50%;
}