.navbar {
  background-color: #3c3a4d;
  border: 0;
  font-size: 20px;
}
.navbar-brand {
  padding: 18px 15px 10px 40px;
  font-size: 22px;
  color: #ffffff !important;
  font-weight: bold;
}
.nav-item {
  padding: 15px 15px 10px 45px;
  text-align: right;
}
.nav-link {
  padding: 15px 15px 10px 45px;
  text-align: right;
}
.nav-link a:hover,
.nav-link a:focus {
  background-color: #86779b !important;
  color: #86779b !important;
  text-decoration: none !important;
}
ul {
  padding: 0;
  list-style-type: none;
}
.side-nav {
    position: fixed;
    top: 58px;
    left: 200px;
    width: 200px;
    margin-left: -200px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #3c3a4d;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
}
.side-nav>li>a {
    width: 200px;
}
.side-nav li a:hover,
.side-nav li a:focus {
    outline: none;
    background-color: #86779b !important;
    color: #ffffff !important;
}
.side-nav>ul {
  padding: 0;
  list-style-type: none;
}
.side-nav>ul>li>a {
  display: block;
  padding: 10px 15px 10px 25px;
  text-decoration: none;
  color: #999;
  font-size: 20px;
}
.side-nav>li>ul>li>a:hover {
  color: #86779b;
}
input.student-search {
  color: #999 !important;
  background-color: #fff !important;
  border: 1px solid #fff !important;
  border-radius: 4px !important;
}
.search-btn {
  background-color: rgba(134, 119, 156, 0.99) !important;
  margin-top: -3px;
  color: #fff !important;
}
body {
    margin-top: 70px;
    color: #999 !important;
}
#wrapper {
    padding-left: 175px;
    color: #999 !important;
}
.studentInfo {
  padding: 10px 15px 10px 25px;
}