.navbar {
  background-color: #3c3a4d;
  border: 0;
  font-size: 20px;
  color: #ffffff;
}
.navbar-brand {
  padding: 15px 15px 10px 40px;
  font-size: 20px;
  color: #ffffff !important;
  font-weight: bold;
}
.nav-item {
  padding: 13px 15px 10px 30px;
  text-align: right;
}
.nav-link {
  padding: 13px 15px 10px 60px;
  text-align: right;
}
.nav-link a:hover {
  color: #86779b !important;
  font-weight: bold;
  text-decoration: none !important;
}
ul {
  padding: 0;
  list-style-type: none;
}
.side-nav {
    position: fixed;
    top: 50px;
    left: 200px;
    width: 200px;
    margin-left: -200px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #3c3a4d;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
}
.side-nav>li>a {
    width: 200px;
}
.side-nav li a:hover,
.side-nav li a:focus {
    outline: none;
    background-color: #86779b !important;
    color: #ffffff !important;
}
.side-nav>ul {
  padding: 0;
  list-style-type: none;
}
.side-nav>ul>li>a {
  display: block;
  padding: 10px 15px 10px 25px;
  text-decoration: none;
  color: #999;
  font-size: 20px;
}
.side-nav>li>ul>li>a:hover {
  color: #86779b;
}

.search-btn {
  background-color: rgba(134, 119, 156, 0.99) !important;
}